<div class="newsletter-form-container">
  <form action="https://dashboard.mailerlite.com/public/29791/pages/162193567717000433/subscribe?signature=8ff9999115edb2586b455e4037089448033bab9c7584b419c4dac781e2751f12"
        method="POST" class="newsletter-form ml-subscribe-form">
    <div class="form-group">
      <input type="text" name="fields.name" placeholder="Your Name" autocomplete="given-name" aria-label="Your Name">
    </div>
    <div class="form-group">
      <input type="email" name="fields.email" placeholder="Your Email Address" autocomplete="email" aria-label="Your Email Address" required>
    </div>
    <button type="submit" class="btn btn-gold btn-lg w-full" style="width: 100%;">
      Subscribe Now
    </button>
  </form>
</div>
